.bounceCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 20%;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius:50%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode:color-burn;
}
