html {
  transition: background-color 0.5s ease;
}

.birthday-section {
  height: 200vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.present-box {
  position: fixed;
  top: 0;
  width: 180px;
  height: 160px;
  cursor: pointer;
  z-index: 10;
}
.present-box:hover{
  scale: 1.03;
  transition: all 0.3s ease-in;
}
.present-lid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  background: #e63946;
  border-radius: 12px 12px 6px 6px;
  transform-origin: center bottom;
}

.present-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: #d62828;
  border-radius: 6px 6px 12px 12px;
}

.ribbon {
  position: absolute;
  background: gold;
}

.ribbon-horizontal {
  height: 10px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.ribbon-vertical {
  width: 10px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.birthday-content {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.birthday-text {
  padding-top:80px;
  font-size: 4rem;
  color:white;
}


.image-area {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 14px;
  pointer-events: none;
}

.floating-frame {
  width: 150px;
  height: 150px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 14px;
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.floating-frame:hover{
  scale: 1.02;
  transition: all 0.3s ease-in-out;
}
.floating-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cake-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 60px;
  pointer-events: none;
}


.cake {
  position: absolute;
  bottom:20%;
  width: 160px;
  height: 140px;
}


.cake-layer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 14px;
}

.layer-bottom {
  bottom: 0;
  width: 160px;
  height: 50px;
  background: #d99bc7;
}

.layer-middle {
  bottom: 45px;
  width: 130px;
  height: 45px;
  background: #e6b3d9;
}

.layer-top {
  bottom: 85px;
  width: 100px;
  height: 40px;
  background: #f2cce9;
}


.candle {
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 28px;
  background: #ffffff;
  border-radius: 4px;
}


.flame {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 16px;
  background: radial-gradient(circle at 50% 60%, #fff6a0, #ff9f43);
  border-radius: 50% 50% 50% 50%;
  animation: flicker 0.9s infinite alternate;
}

@keyframes flicker {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 0.9;
  }
  100% {
    transform: translateX(-50%) scale(1.15);
    opacity: 1;
  }
}

